{% extends 'repo/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Academic Info Language Create' %}{% endblock title %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.0.custom.min.css" />
{% endblock extrastyle %}
{% block header %}
    <h1>{% trans 'Academic Info | Job Create' %}</h1>
{% endblock header %}
{% block container %}
    <div class="span10 offset1">
        <div class="progress">
            <div class="bar" style="width: 60%"></div>
        </div>
    </div>
    {% load crispy_forms_tags %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            <a class="btn" href="{% url 'repo_job_list' key %}">{% trans 'Cancel' %}</a>
        </div>
    </form>
{% endblock container %}
{% block bottom_script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.0.custom.min.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            changeYear: true
        });
    </script>
{% endblock bottom_script %}
