{% load i18n %}
<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css" />
    <title>{{ store.name }} {% block title %}{% endblock title %}</title>
    {% block extrastyle %}{% endblock extrastyle %}
</head>
<body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a href="{% url 'admin_home' %}" class="brand">{{ store.name }}</a>
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans 'Products' %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'admin_product_create' %}">{% trans 'New Product' %}</a></li>
                        <li><a href="{% url 'admin_product_list' %}">{% trans 'Listing' %}</a></li>
                        <li class="divider"></li>
                        <li class="nav-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans 'Categories' %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'admin_category_create' %}">{% trans 'New Category' %}</a></li>
                        <li><a href="{% url 'admin_category_list' %}">{% trans 'Listing' %}</a></li>
                        <li class="divider"></li>
                        <li class="nav-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'admin_buyer_list' %}">{% trans 'Buyers' %}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans 'Reports' %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">{% trans 'Sales Report' %}</a></li>
                        <li><a href="#">{% trans 'Payments Report' %}</a></li>
                    </ul>
                </li>
                <li><a href="#">{% trans 'Sales' %}</a></li>
                <li><a href="{% url 'admin_config' %}">{% trans 'Settings' %}</a></li>
            </ul>
            <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li><a href="#">{{ user.get_full_name }}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'My Account' %} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'rq_logout' %}">
                        <i class="icon-off"></i> {% trans 'Log out' %}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <section class="container">
        <br>
        <div class="row">
            {% include 'common/messages.html' %}
        </div>
        <div class="row">
            {% include 'common/path.html' %}
        </div>
        <div class="row">
            {% block container %}{% endblock container %}
        </div>
    </section>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/bootstrap.min.js"></script>

    {% block bottom_script %}{% endblock bottom_script %}
</body>
</html>
