{% extends 'admin/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Settings' %}{% endblock title %}
{% block container %}
    {% load crispy_forms_tags %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
            <a href="{% url 'admin_home' %}" class="btn">{% trans 'Cancel' %}</a>
        </div>
    </form>
{% endblock container %}
