{% extends 'repo/base.html' %}
{% load i18n %}
{% block title %}Register{% endblock title %}
{% block header %}
    <h1>{% trans 'Register' %}</h1>
{% endblock header %}
{% block container %}
    {% load crispy_forms_tags %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans 'Register' %}</button>
        </div>
    </form>
{% endblock container %}
