{% extends 'admin/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Product List' %}{% endblock title %}
{% block container %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Rating' %}</th>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Modified' %}</th>
                <th>{% trans 'Options' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><a href="{% url 'admin_product_detail' product.id %}">{{ product.name }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.rating }}</td>
                <td>{{ product.print_status }}</td>
                <td>{{ product.modified }}</td>
                <td>
                    <a href="{% url 'admin_product_edit' product.id %}">{% trans 'Edit' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'common/pagination.html' %}
{% endblock container %}
